<div class="dropdown">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><div id="active_dropdown_menu"></div><span class="caret"></span></button>
<ul class="dropdown-menu">
  <li><a href="welcome.html">Home</a></li>
  <li><a href="profile.html">Profile</a></li>
  <li><a href="edit_profile.html">Edit Profile</a></li>
  <li><a href="settings.html">Settings</a></li>
  <li><a href="security.html">Security</a></li>
  <li><a href="logout.html">logout    <span class="glyphicon glyphicon-log-out"></span></a></li>
</ul>
</div>
