<ul id="menu" class="nav nav-pills nav-stacked">
	<li id="home" onclick="change_active_menu(this.id)" class="active"><a href="#">Home  </a></li><!-- set class="active" with javascript-->
	<li id="bedroom" onclick="change_active_menu(this.id)"><a href="#">Bedroom</a></li><!-- set class="active" with javascript-->
	<li id="kitchen" onclick="change_active_menu(this.id)"><a href="#">Kitchen</a></li><!-- set class="active" with javascript-->
	<li id="room1" onclick="change_active_menu(this.id)"><a href="#">Room 1</a></li><!-- set class="active" with javascript-->
	<li id="room2" onclick="change_active_menu(this.id)"><a href="#">Room 2</a></li><!-- set class="active" with javascript-->
	<li id="bathroom" onclick="change_active_menu(this.id)"><a href="#">Bathroom</a></li><!-- set class="active" with javascript-->
</ul>