<div>
{{room}}
  <table class="table">
    </thead>
    <tbody>
      <tr class="info">
        <th>Temperature</th>
        <td><var id ="temperature"></var></td>
      </tr>
      <tr class="info">
        <th>Humidity</th>
        <td><var id ="humidity"></var></td>
      </tr>
      <tr class="info">
        <th>Door status</th>
        <td>
			<var id ="door_status"></var>
		</td>
      </tr>
	  <tr class="info">
        <th>Windows status</th>
        <td>

		</td>
      </tr>
	  <tr class="info">
        <th>Open CAM</th>
        <td>cam_link</td>
      </tr>
    </tbody>
  </table>
</div>