<div>
{{room}}
  <table class="table">
    </thead>
    <tbody>
      <tr class="success">
        <th>Temperature</th>
        <td><var id ="temperature"></var></td>
      </tr>
      <tr class="danger">
        <th>Humidity</th>
        <td>Moe</td>
      </tr>
      <tr class="info">
        <th>Door status</th>
        <td>Dooley</td>
      </tr>
	  <tr class="info">
        <th>Windows status</th>
        <td>Dooley</td>
      </tr>
	  <tr class="info">
        <th>Open CAM</th>
        <td>Dooley</td>
      </tr>
    </tbody>
  </table>
</div>